blinker==1.8.2
click==8.1.7
colorama==0.4.6
dnspython==2.7.0
email_validator==2.2.0
Flask==2.2.5
Flask-JWT-Extended==4.6.0
flask-mongoengine==1.0.0
Flask-Principal==0.4.0
Flask-PyMongo==2.3.0
Flask-WTF==1.2.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
marshmallow==3.23.0
mongoengine==0.29.1
packaging==24.1
PyJWT==2.9.0
pymongo==3.11.0
Werkzeug==3.0.5
WTForms==3.2.1
